/** {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

body {
	background-color: #a7cdbd;
	font-family: Helvetica, sans-serif;
	color: #333;
}

button {
	background-color: #fcdfa6;
	border: 1px solid black;
	color: black;	
	box-shadow: 0px 2.5px 5px #888;
}

#grid {
	background-color: #FFF;
	height: 384px;
	width: 384px;
	padding: 0px;
	margin: 0px;
	border: 3px solid black;
	box-shadow: 5px 5px 5px #888;
}

.grid-item {
	display: inline-block;	
	background-color: #FFF;
	width: 64px;
	height: 64px;
	margin: 0em;
	padding: 0px;
	vertical-align: top;
}

.highlight {
	background-color: rgb(50,50,50);
}

#buttons-list {
	margin: 50px 0px;
}